/*general*/
.thumbnail {
	border: none;
	box-shadow: none;
}


/*sidebar*/
.social {
	width: 62px;
  	height: 62px;
}


/*footer*/
.footer {
	padding: 30px 0;
	background-color: #2c3e50;
	border-top: 8px solid #18bc9c;
	text-align: center;
}


/*about page*/
#bio-image {
	height: 200px;
	width: 200px;
	padding-right: 10px;
}

#resume-image {
	position: relative;
	margin: 20px 0 25px;
	width: 100%;
}

/*portfolio page*/
.work {
	position: relative;
	margin: 20px 0 25px;
	width: 100%;
}

.placeholder-img {
	opacity: .7;
}

.caption h3 {
	position: absolute;
	bottom: 25px;
	padding: 10px;
	text-align: center;
	color:#fff;
	background: #2c3e50;
	opacity:.8;
}